header{
    background-color: rgb(37, 35, 35);
    
}
 ul li  {
    color: rgb(255, 255, 255);
   
   
}
li{
    display: inline-block;
    padding-left: 90px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: large;
   
}

.logo_1{
    float: left;
    padding-left: 10px;
    padding-top: 12px;
    margin-left: 30px;
    height: 30px;
}

.material-icons{
    color: white;
    margin-left: 720PX;
}

.text_1{
    color: rgb(0, 0, 0);
    font-size: 80px;
    margin-left: 800px;
    margin-top:470px;
}

.shape_1{
    border: 2px solid black;
    height: 200px;
    width:600px;
    border-radius: 60px;
    margin-left:200px;
}

.shape_2{
    border: 2px solid black;
    height: 500px;
    width:270px;
    border-radius: 60px;
    margin-left: 1000px;
    margin-top:-200px;
}

.shape_3{
    border: 2px solid black;
    height: 300px;
    width:770px;
    border-radius: 60px;
    margin-left: 100px;
    margin-top:-200px;
}

.shape_img_1
{
    border-radius: 50px;
}
.shape_img_2
{
    border-radius: 60px;
}
.img_slider{
    height: 300px;
    width: 770px;
    border: 2px solid black;
    border-radius: 60px;
    margin-left: 60px;
    background-image: url("/img4/10.jpg");
    background-size: 100% 100%;
    animation: changeImage 10s linear infinite;
    margin-top: -210px;
}

@keyframes changeImage{
0%{
    background-image:url(/img4/10.jpg);
}
25%{
    background-image:url(/img4/11.jpg);
}
50%{
    background-image:url(/img4/12.jpg);
}

}

.text_2{
margin-left: 290px;
font-size: larger;
    
}